<div>
    <h3>Students</h3>
    <div class="d-flex align-items-end flex-column">
        <div><button class="btn btn-link" (click)="newStudent()">Add Student</button></div>
    </div>
    <div class="d-flex">
        <div *ngIf="totalStudents != filteredStudents" class="mr-auto align-items-center p-1">Showing {{filteredStudents}} of {{totalStudents}} students</div>
        <div *ngIf="totalStudents == filteredStudents" class="mr-auto align-items-center p-1">Showing {{totalStudents}} students</div>
        <div class="ml-auto align-items-center p-1">Search:</div>
        <div class="align-items-center p-1"><input (keyup)="onKey($event)"></div>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Nickname</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students" (click)="editStudent(student)" style="cursor: pointer;">
                    <td>{{student.name}} {{student.surname}} {{student.patronymic}}</td>
                    <td>{{student.gender}}</td>
                    <td>{{student.nickname}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(student.id);$event.stopPropagation()"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>