<div class="modal-header">
    <h4 *ngIf="student.id == undefined" class="modal-title">New Student</h4>
    <h4 *ngIf="student.id != undefined" class="modal-title">Edit Student</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <input type="hidden" class="Id" [value]="student.Id">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
                <input type="text" formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Name" maxlength="40">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Surname</label>
            <div class="col-sm-9">
                <input type="text" formControlName="surname" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" placeholder="Surname" maxlength="40">
                <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
                    <div *ngIf="f.surname.errors.required">Surname is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Patronymic</label>
            <div class="col-sm-9">
                <input type="text" formControlName="patronymic" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.patronymic.errors }" placeholder="Patronymic" maxlength="60">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Gender</label>
            <div class="col-sm-9">
                <select formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                </select>
                <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                    <div *ngIf="f.gender.errors.required">Gender is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Nickname</label>
            <div class="col-sm-9">
                <input type="text" formControlName="nickname" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.nickname.errors }" placeholder="Nickname" minlength="6" maxlength="16">
                    <div *ngIf="submitted && f.nickname.errors" class="invalid-feedback">
                        <div *ngIf="f.nickname.errors.minlength">Nickname must contain not less than 6 characters</div>
                        <div *ngIf="f.nickname.errors.nicknameTaken">This nickname has been taken, please use another one</div>
                    </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
        </div>
    </form>
</div>